<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71416739898-99d0i3n4ih27t7iqrpjsscm5dvaq72qk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71416739898-99d0i3n4ih27t7iqrpjsscm5dvaq72qk</string>
	<key>API_KEY</key>
	<string>AIzaSyBjdNiaGQALeoc8gZxOkj2QYisIPMOnPvk</string>
	<key>GCM_SENDER_ID</key>
	<string>71416739898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Demoapp</string>
	<key>PROJECT_ID</key>
	<string>demoapp-6955d</string>
	<key>STORAGE_BUCKET</key>
	<string>demoapp-6955d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71416739898:ios:47f0ef04bcc0092eaf5d03</string>
	<key>DATABASE_URL</key>
	<string>https://demoapp-6955d.firebaseio.com</string>
</dict>
</plist>